.alert {
	box-sizing: border-box;
	background: #eee;
	color: #333;
	width: 100%;
	padding: 1rem;
	text-align: left;
}

.alert--variant-primary {
	background: blue;
	color: #fff;
}

.alert--variant-secondary {
	background: #eee;
	color: #333;
}

.alert--variant-variant-warning {
	background: orange;
	color: #fff;
}

.alert--variant-danger {
	background: red;
	color: #fff;
}

.alert--variant-success {
	background: green;
	color: #fff;
}

.alert--variant-info {
	background: lightblue;
	color: #fff;
}

.alert--title {
  font-size: 1rem;
  color: white;
  margin: 0;
  text-align: center;
}

header {
  padding: 1rem;
  background: transparent;
  position: relative;
}

header h4 {
  font-size: 1rem;
  color: white;
  margin: 0;
}

header button {
  position: absolute;
  top: -10px;
  right: 0;
  padding: 0;
  color: white;
  background: transparent;
  font-size: 1.5rem;
  border: none;

}

header button:focus {
  outline: none;
}
