/**
 * @prop --alert-background: Background color of the alert
 * @prop --alert-color: Color of the text of the alert
 * @prop --alert-padding: Padding of the alert
 * @prop --alert-headline-font-size: Font size of the headline of the alert
 * @prop --alert-headline-color: Color of the headline of the alert
 * @prop --alert-headline-margin: Margin of the headline of the alert
 * @prop --alert-icon-background: Background color of the icon of the alert
 * @prop --alert-icon-height: Height of the icon of the alert
 * @prop --alert-icon-width: Width of the icon of the alert
 * @prop --alert-icon-margin: Margin of the icon of the alert
 * @prop --alert-icon-border-radius: Border radius of the icon of the alert
 * @prop --alert-close-width: Width of the close icon of the alert
 * @prop --alert-close-height: Height of the close icon of the alert
 * @prop --alert-close-opacity: Opacity of the close icon of the alert
 * @prop --alert-close-hover-opacity: Hover opacity of the close icon of the alert
 * @prop --alert-variant-primary-background: Background color of the variant primary alert
 * @prop --alert-variant-primary-color: Color of the text the variant primary alert
 * @prop --alert-variant-secondary-background: Background color of the variant secondary alert
 * @prop --alert-variant-secondary-color: Color of the text of the variant secondary alert
 * @prop --alert-variant-warning-background: Background color of the variant warning alert
 * @prop --alert-variant-warning-color: Color of the text of the variant warning alert
 * @prop --alert-variant-danger-background: Background color of the variant danger alert
 * @prop --alert-variant-danger-color: Color of the text of the variant danger alert
 * @prop --alert-variant-success-background: Background color of the variant success alert
 * @prop --alert-variant-success-color: Color of the text of the variant success alert
 * @prop --alert-variant-info-background: Background color of the variant info alert
 * @prop --alert-variant-info-color: Color of the text of the variant info alert
 */

.alert {
  box-sizing: border-box;
  background: var(--alert-background, #eee);
  color: var(--alert-color, #333);
  width: 100%;
  padding: var(--alert-padding, 1rem);
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.alert__body {
  display: flex;
}

.alert__headline {
  font-size: var(--alert-headline-font-size, 1rem);
  color: var(--alert-headline-color, white);
  margin: var(--alert-headline-margin, 0);
}

.alert__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--alert-icon-background);
  height: var(--alert-icon-height, 24px);
  width: var(--alert-icon-width, 24px);
  margin: var(--alert-icon-margin, 0 0.5rem 0 0);
  border-radius: var(--alert-icon-border-radius);
}

.alert__close {
  width: var(--alert-close-width, 16px);
  height: var(--alert-close-height, 16px);
  opacity: var(--alert-close-opacity, 0.5);
  cursor: pointer;
}

.alert__close:hover {
  opacity: var(--alert-close-hover-opacity, 1);
}

.alert--variant-primary {
  background: var(--alert-variant-primary-background, blue);
  color: var(--alert-variant-primary-color, #fff);
}

.alert--variant-secondary {
  background: var(--alert-variant-secondary-background, #eee);
  color: var(--alert-variant-secondary-color, #333);
}

.alert--variant-variant-warning {
  background: var(--alert-variant-warning-background, orange);
  color: var(--alert-variant-warning-color, #fff);
}

.alert--variant-danger {
  background: var(--alert-variant-danger-background, red);
  color: var(--alert-variant-danger-color, #fff);
}

.alert--variant-success {
  background: var(--alert-variant-success-background, green);
  color: var(--alert-variant-success-color, #fff);
}

.alert--variant-info {
  background: var(--alert-variant-info-background, lightblue);
  color: var(--alert-variant-info-color, #fff);
}
