body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
