/*!*items*!*/

[part~='base'] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 8px 8px 16px;
}

[part~='label'],
[part~='suffix'] {
  display: flex;
}

[part~='prefix'] {
  align-self: flex-start;
}

[part~='label'] {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: TeleNeo;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  line-height: 100%;
}

[part~='supporting-text'] {
  font-family: TeleNeo;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
}

[part~='suffix']:last-of-type {
  margin-left: auto;
}

::slotted([slot='prefix']) {
  display: inline;
  padding-right: 8px;
  margin-top: 4px;
}

::slotted([slot='supporting-text']) {
  display: inline;
}
