:host {
  --background-hover: var(--telekom-color-ui-state-fill-hovered);
  --text-item-color: var(--telekom-color-text-and-icon-standard);
  --text-supporting-text-color: var(--telekom-color-text-and-icon-additional);
  --font-weight: var(--telekom-typography-font-weight-medium);
  --letter-spacing-standard: var(--telekom-typography-letter-spacing-standard);
  --font-size-supporting-text: 12px;
  --font-size-item-text: 12px;
}

[part~='base'] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 8px 8px 16px;
  font-family: inherit;
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-standard);
}

[part~='base'].scale-search-list-item-hover:hover {
  background-color: var(--background-hover);
}

[part~='label'],
[part~='suffix'] {
  display: flex;
}

[part~='prefix'] {
  align-self: flex-start;
}

[part~='label'] {
  font-size: var(--font-size-item-text);
  color: var(--text-item-color);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  line-height: 100%;
}

[part~='supporting-text'] {
  font-size: var(--font-size-supporting-text);
  color: var(--text-supporting-text-color);
  line-height: 16px;
  text-align: left;
}

[part~='suffix']:last-of-type {
  margin-left: auto;
}

::slotted([slot='prefix']) {
  display: inline;
  padding-right: 8px;
  margin-top: 4px;
}

::slotted([slot='supporting-text']) {
  display: inline;
}
