:host {
  --size: var(--scl-spacing-24);
  --font-weight: var(--scl-font-weight-bold);
  --font-size: var(--scl-font-size-16);
  --spacing: var(--scl-spacing-8);
  --color-circle-primary: var(--scl-color-primary);
  --color-circle-primary-inner: var(--scl-color-grey-20);
  --color-text-primary: var(--scl-color-grey-60);
  --color-circle-white: var(--scl-color-white);
  --color-circle-white-inner: var(--scl-color-grey-50);
  --color-text-white: var(--scl-color-white);
}

.spinner {
  display: inline-flex;
}

.spinner.spinner--alignment-vertical {
  align-items: center;
  flex-direction: column;
}

.spinner .spinner__text {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--color-text-primary);
}

.spinner.spinner--alignment-vertical .spinner__text {
  padding-top: var(--spacing);
}

.spinner.spinner--text-hidden .spinner__text {
  position: absolute;
  left: -10000px;
  overflow: hidden;
}

.spinner.spinner--alignment-horizontal .spinner__text {
  display: flex;
  align-self: center;
  padding-left: var(--spacing);
}

.spinner__circle {
  display: inline-block;
  height: var(--size);
  width: var(--size);
  animation: rotation 1.5s infinite linear;
  border-radius: 100%;
}

.spinner.spinner--variant-primary .spinner__circle {
  border: 3px solid var(--color-circle-primary);
  border-top: 3px solid var(--color-circle-primary-inner);
}

.spinner.spinner--variant-white .spinner__text {
  color: var(--color-circle-white);
}

.spinner.spinner--variant-white .spinner__circle {
  border: 3px solid var(--color-circle-white);
  border-top: 3px solid var(--color-circle-white-inner);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
