:host {
  --font-size: var(--telekom-typography-font-size-body);
  --font-weight: var(--telekom-typography-font-weight-bold);
  --line-height: var(--telekom-typography-line-spacing-standard);
  --height: 22px;
}

[part='base'],
[part='link'],
[part='heading'] {
  font-weight: var(--font-weight);
  font-size: var(--font-weight);
  line-height: var(--line-height);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: var(--height);
}

[part='custom-icon'] ::slotted(*) {
  margin-right: 8px;
}

[part='scale-icon-navigation-right'] {
  margin-left: 7px;
}

[part='link'] {
  cursor: pointer;
  color: var(--telekom-color-text-and-icon-standard);
  text-decoration: none;
}

[part='link']:hover {
  color: var(--telekom-color-text-and-icon-primary-hovered);
}

[part='link']:active {
  color: var(--telekom-color-text-and-icon-primary-pressed);
}
