.sbdocs.sbdocs-li,
.sbdocs.sbdocs-h6,
.sbdocs.sbdocs-h5,
.sbdocs.sbdocs-h4,
.sbdocs.sbdocs-h3,
.sbdocs.sbdocs-h2,
.sbdocs.sbdocs-h1,
.sbdocs.sbdocs-span,
.sbdocs.sbdocs-div,
.sbdocs.sbdocs-p {
  font-family: 'TeleNeoWeb', 'TeleNeo', sans-serif !important;
  color: black;
}

.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3,
.sbdocs-h4,
.sbdocs-h5,
.sbdocs-h6 {
  font-weight: 800 !important;
}

.sbdocs-h1 {
  font-size: 56px !important;
  line-height: 64px !important;
}
.sbdocs-h2 {
  font-size: 32px !important;
  line-height: 40px !important;
  margin-top: 40px !important;
}
.sbdocs-h3 {
  font-size: 24px !important;
  line-height: 32px !important;
}
.sbdocs-h4 {
  font-size: 20px !important;
  line-height: 24px !important;
}
.sbdocs-h5 {
  font-size: 16px !important;
  line-height: 24px !important;
}
.sbdocs-h6 {
  font-size: 16px !important;
  line-height: 22px !important;
}

.sbdocs-a.css-19nbuh3 {
  text-decoration: underline;
  text-underline-offset: 0.1875em;
  text-underline-position: from-font;
  text-decoration-thickness: 0.0625rem;
  text-decoration-color: #1c41eb;
}

.colors-table .sbdocs-a.css-19nbuh3 {
  text-decoration: none !important;
}

.sbdocs-a.css-19nbuh3 {
  font-family: 'TeleNeoWeb', 'TeleNeo', sans-serif !important;
  color: #1c41eb;
  outline: none;
  font-weight: var(--telekom-typography-font-weight-medium);
  position: relative;
  display: inline-flex;
}

.sbdocs-a.css-19nbuh3:hover {
  color: #1035e3;
  text-decoration: underline;
  text-decoration-color: #1035e3;
}

.sbdocs-a.css-19nbuh3:focus {
  color: #1c41eb;
  text-decoration: underline;
  text-decoration-color: #1c41eb;
}

.sbdocs-a.css-19nbuh3:active {
  color: #082cdb;
  text-decoration: underline;
  text-decoration-color: #082cdb;
}

.sbdocs-p,
.sbdocs-ul,
.sbdocs-li {
  font-size: 16px !important;
  line-height: 24px !important;
}

.sbdocs-ol[type='a'] {
  list-style-type: lower-alpha;
}

.magenta {
  color: var(--telekom-color-text-and-icon-primary-standard) !important;
}