.addon-usage p,
.addon-usage h1,
.addon-usage h2,
.addon-usage h3,
.addon-usage h4,
.addon-usage h5,
.addon-usage h6,
.addon-usage li {
  font-family: 'TeleNeoWeb', 'TeleNeo', sans-serif !important;
  color: black !important;
}

.addon-usage h1,
.addon-usage h2,
.addon-usage h3,
.addon-usage h4,
.addon-usage h5,
.addon-usage h6 {
  font-weight: 800 !important;
}

.addon-usage h1 {
  font-size: 56px !important;
  line-height: 64px !important;
}
.addon-usage h2 {
  font-size: 32px !important;
  line-height: 40px !important;
  margin-top: 40px !important;
}
.addon-usage h3 {
  font-size: 24px !important;
  line-height: 32px !important;
}
.addon-usage h4 {
  font-size: 20px !important;
  line-height: 24px !important;
}
.addon-usage h5 {
  font-size: 16px !important;
  line-height: 24px !important;
}
.addon-usage h6 {
  font-size: 16px !important;
  line-height: 22px !important;
}

.sbdocs-a.css-nv4uup {
  font-family: 'TeleNeoWeb', 'TeleNeo', sans-serif !important;
  color: #1c41eb;
  outline: none;
  font-weight: var(--telekom-typography-font-weight-medium);
  position: relative;
  display: inline-flex;

  text-decoration: underline;
  text-underline-offset: 0.1875em;
  text-underline-position: from-font;
  text-decoration-thickness: 0.0625rem;
  text-decoration-color: #1c41eb;
}
.sbdocs-a.css-nv4uup:hover {
  color: #1035e3;
  text-decoration: underline;
  text-decoration-color: #1035e3;
}

.sbdocs-a.css-nv4uup:focus {
  color: #1c41eb;
  text-decoration: underline;
  text-decoration-color: #1c41eb;
}

.sbdocs-a.css-nv4uup:active {
  color: #082cdb;
  text-decoration: underline;
  text-decoration-color: #082cdb;
}

.addon-usage p,
.addon-usage ul,
.addon-usage li,
.addon-usage a {
  font-size: 16px !important;
  line-height: 24px !important;
}

.sbdocs-ol[type='a'] {
  list-style-type: lower-alpha;
}
