p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "TeleNeoWeb", "TeleNeo", sans-serif !important;
  color: var(--scl-color-text-standard) !important;
}

.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3,
.sbdocs-h4,
.sbdocs-h5,
.sbdocs-h6 {
  font-weight: 800 !important;
}

.sbdocs-h1 {
  font-size: 56px !important;
  line-height: 64px !important;
}
.sbdocs-h2 {
  font-size: 32px !important;
  line-height: 40px !important;
  margin-top: 40px !important;
}
.sbdocs-h3 {
  font-size: 24px !important;
  line-height: 32px !important;
}
.sbdocs-h4 {
  font-size: 20px !important;
  line-height: 24px !important;
}
.sbdocs-h5 {
  font-size: 16px !important;
  line-height: 24px !important;
}
.sbdocs-h6 {
  font-size: 16px !important;
  line-height: 22px !important;
}

.sbdocs-a {
  font-family: "TeleNeoWeb", "TeleNeo", sans-serif !important;
  color: var(--scl-color-text-link) !important;
}

.sbdocs-div {
  font-family: 'TeleNeoWeb', 'TeleNeo', sans-serif !important;
}

.sbdocs-p, .sbdocs-ul, .sbdocs-li {
  font-size: 16px !important;
  line-height: 24px !important;
}
