.scale-telekom-footer-extended-navigation {
    width: 100%;
    display: flex;
    background-color: gainsboro;
    align-items: center;
    justify-content: center;

  --_max-width-container: var(--scl-grid-max-width, 1680px);
  --spacing-x: var(--telekom-spacing-unit-x6);
  --column-gap: var(--telekom-spacing-unit-x8);

}

.extended-navigation-container {
    max-width: var(--_max-width-container);
    width: 100%;
    display: grid;
  
    grid-template-columns: repeat(16, minmax(0, 1fr));
    column-gap: var(--column-gap);    
}
