@import url('../../../global/custom-media.css');

:host {
  --footer-background: var(--telekom-color-ui-black);
  --_max-width-container: var(--scl-grid-max-width, 1680px);
  --_spacing-x-container: var(--telekom-spacing-unit-x4);

  --_nav-items-bottom-margin: var(--telekom-spacing-unit-x6);
  --_nav-items-spacing: var(--telekom-spacing-unit-x3);

  --_logo-top-margin: var(--telekom-spacing-unit-x10);
  --_logo-bottom-margin: var(--telekom-spacing-unit-x10);

  --_slim-padding: var(--telekom-spacing-unit-x4);

  --_font-color: var(--telekom-color-text-and-icon-white-standard);
  --_font-size: var(--telekom-typography-font-size-caption);
  --focus-outline: var(--telekom-line-weight-highlight) solid
    var(--telekom-color-functional-focus);
}

footer {
  width: 100%;
  background-color: var(--footer-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-container {
  height: 100%;
  max-width: var(--_max-width-container);
  padding-left: var(--_spacing-x-container);
  padding-right: var(--_spacing-x-container);
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: var(--_logo-top-margin);
  margin-bottom: var(--_logo-bottom-margin);
}

.navigation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
}

.notice-container {
  color: var(--_font-color);
  display: flex;
  flex: 1 0 auto;
  margin-bottom: var(--telekom-spacing-unit-x5);
  font-size: var(--_font-size);
  line-height: 140%;
}

/* todo: should i use spacing token for logo size? */
[part~='app-logo'] {
  --logo-size: var(--telekom-spacing-unit-x9);
}

/* Leave this just in case?  */
.scale-icon {
  height: 16px;
  width: 16px;
  margin-right: 9px;
}

/* styles for SLIM variant */

:host-context([variant='slim']) {
  --footer-background: var(--telekom-color-background-canvas);
  --_font-color: var(--telekom-color-text-and-icon-additional);
}

:host-context([variant='slim']) .logo-container {
  display: none;
}

:host-context([variant='slim']) .notice-container,
:host-context([variant='slim']) .navigation-links {
  margin-top: var(--telekom-spacing-unit-x6);
}

:host-context([variant='slim']) .navigation-container {
  padding-top: var(--_slim-padding);
  padding-bottom: var(--_slim-padding);
}

@media screen and (--md) {
  :host {
    --_logo-top-margin: var(--telekom-spacing-unit-x8);
    --_logo-bottom-margin: var(--telekom-spacing-unit-x12);
    --_nav-items-spacing: var(--telekom-spacing-unit-x4);
  }
  .navigation-container {
    flex-direction: column;
  }
  .navigation-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .notice-container {
    margin-bottom: var(--telekom-spacing-unit-x2);
  }
}

@media screen and (--lg) {
  :host {
    --_logo-top-margin: var(--telekom-spacing-unit-x12);
    --_logo-bottom-margin: var(--telekom-spacing-unit-x18);
    --_nav-items-spacing: var(--telekom-spacing-unit-x6);
    --_slim-padding: var(--telekom-spacing-unit-x6);
    --_font-size: var(--telekom-typography-font-size-body);
    --_spacing-x-container: var(--telekom-spacing-unit-x6);
  }
  .navigation-container {
    flex-direction: row;
  }
  .scale-telekom-footer-content.slim .navigation-links ul,
  .scale-telekom-footer-content.slim .notice-container {
    margin-bottom: 0;
    margin-top: 0;
  }

  /* todo: should i use spacing token for logo size? */
  :host [part~='app-logo'] {
    --logo-size: var(--telekom-spacing-unit-x11);
  }
}

@media screen and (--xl) {
  :host {
    --_logo-top-margin: var(--telekom-spacing-unit-x14);
    --_logo-bottom-margin: var(--telekom-spacing-unit-x20);
    --_nav-items-bottom-margin: var(--telekom-spacing-unit-x8);
    --_nav-items-spacing: var(--telekom-spacing-unit-x12);
    --_slim-padding: var(--telekom-spacing-unit-x8);
  }
  /* todo: should i use spacing token for logo size? */
  :host [part~='app-logo'] {
    --logo-size: var(--telekom-spacing-unit-x12);
  }
}
@media screen and (--2xl) {
  :host {
    --_logo-top-margin: var(--telekom-spacing-unit-x18);
    /* too bad spacing tokens don't go beyond 5 rem */
    --_logo-bottom-margin: 96px;
  }
  /* todo: should i use spacing token for logo size? */
  :host [part~='app-logo'] {
    --logo-size: var(--telekom-spacing-unit-x14);
  }
}
