@import url('../../../global/custom-media.css');

.scale-telekom-footer {
  --footer-background: var(--telekom-color-ui-black);
  --_max-width-container: var(--scl-grid-max-width, 1680px);
  --_spacing-x-container: var(--telekom-spacing-unit-x4);

  --_footer-height: 304px;
  --_bottom-margin: 24px;

  --_nav-margin: 8px;
  --_logo-top-margin: 32px;
  --_logo-bottom-margin: 48px;

  --_slim-margin: 16px;

  --_font-color: var(--telekom-color-text-and-icon-white-standard);
  --_font-size: var(--telekom-typography-font-size-small);

  --focus-outline: var(--telekom-line-weight-highlight) solid
  var(--telekom-color-functional-focus);
}

footer {
  width: 100%;
  background-color: var(--footer-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  height: 100%;
  max-width: var(--_max-width-container);
  padding-left: var(--_spacing-x-container);
  padding-right: var(--_spacing-x-container);
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: var(--_logo-top-margin);
  margin-bottom: var(--_logo-bottom-margin);
}

.navigation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
}

.notice-container {
  color: var(--_font-color);
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 12px;
}

ul,
ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--_nav-margin);
  padding: 0;
  width: 100%;
  margin: 0;
  color: var(--_font-color);
  margin-bottom: var(--_bottom-margin);
  font-size: var(--_font-size);
  flex-wrap: wrap;
  align-items: flex-start;
}

a {
  color: var(--_font-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px;
}

a:hover {
  /* todo better solution for this underline */
  border-bottom: 1px solid rgba(250, 250, 250, 0.8);
  border-radius: 0;
}

a:active {
  color: var(--telekom-color-text-and-icon-white-additional);
  border-bottom: 1px solid rgba(250, 250, 250, 0.65);
}

a:focus-visible {
  /* todo better solution for this underline */
  outline: var(--focus-outline);
  outline-offset: 1px;
} 

/* Leave this just in case?  */
.scale-icon {
  height: 16px;
  width: 16px;
  margin-right: 9px;
}

.scale-telekom-footer.slim {
  --footer-background: var(--telekom-color-background-canvas);
  --_font-color: var(--telekom-color-text-and-icon-additional);
}

.scale-telekom-footer.slim .logo-container {
  display: none;
}

.scale-telekom-footer.slim .notice-container {
  margin-bottom: 12px;
}
.scale-telekom-footer.slim ul {
  margin-bottom: 0px;
}

.scale-telekom-footer.slim .navigation-container {
  padding-top: var(--_slim-margin);
  padding-bottom: var(--_slim-margin);
}

.scale-telekom-footer.slim  a:hover {
  color: var(--_font-color);
  border-bottom: 1px solid var(--telekom-color-ui-border-hovered);
}
.scale-telekom-footer.slim  a:active {
  color: var(--_font-color);
  /* todo: not sure what token to use here, it will break on dark/light mode (problem is opacity) */
  border-bottom: 1px solid rgba(0, 0, 0, 0.65); 
}
@media screen and (--md) {
  .scale-telekom-footer {
    --_logo-top-margin: 32px;
    --_logo-bottom-margin: 48px;
    --_nav-margin: 16px;
  }
  .navigation-container {
    flex-direction: column;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .scale-telekom-footer.slim .notice-container {
    margin-bottom: 8px;
  }
}

@media screen and (--lg) {
  .scale-telekom-footer {
    --_logo-top-margin: 48px;
    --_logo-bottom-margin: 72px;
    --_nav-margin: 24px;
    --_slim-margin: 24px;
    --_font-size: var(--telekom-typography-font-size-body );

  }
  .navigation-container {
    flex-direction: row;
  }
  .scale-telekom-footer.slim ul,
  .scale-telekom-footer.slim .notice-container {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (--xl) {
  .scale-telekom-footer {
    --_logo-top-margin: 56px;
    --_logo-bottom-margin: 80px;
    --_bottom-margin: 32px;
    --_nav-margin: 48px;
    --_slim-margin: 32px;
  }
}
@media screen and (--2xl) {
  .scale-telekom-footer {
    --_logo-top-margin: 72px;
    --_logo-bottom-margin: 96px;
  }
}
