:host {
}

/*!*option*!*/

[part~='base'] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

[part~='prefix'],
[part~='label'],
[part~='suffix'] {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  font: var(--telekom-text-style-ui);
}
