:host {
  --callout-color: var(--scl-color-primary);
  --inner-width-small: var(--scl-spacing-80);
  --inner-height-small: var(--scl-spacing-80);
  --inner-width-large: 126.5px;
  --inner-height-large: 96px;
  --width-small: 120px;
  --height-small: 120px;
  --height-large: 160px;
  --width-large: 160px;
  --callout-blue: var(--scl-color-blue-60);
  --callout-white: var(--scl-color-white);
  --callout-black: var(--scl-color-black);
  --callout-primary: var(--scl-color-primary);
  --content-font: var(--scl-font-family-sans);
  --prefix-fontsize: var(--scl-font-size-20);
  --text-fontsize: calc(var(--scl-font-size-20) * 3);
}

.callout {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: var(--callout-color);
  font-family: var(--content-font);
  color: var(--callout-white);
  text-align: center;
}

.callout.callout--color-primary {
  background: var(--callout-primary);
}
.callout.callout--color-white {
  background: var(--callout-white);
  color: var(--callout-black);
}
.callout.callout--color-blue {
  background: var(--callout-blue);
}
.callout.callout--color-black {
  background: var(--callout-black);
}

.callout.callout--size-large {
  width: var(--width-large);
  height: var(--height-large);
}

.callout.callout--size-small {
  width: var(--width-small);
  height: var(--height-small);
}

.callout.callout--size-large .callout__inner {
  width: var(--inner-width-large);
  height: var(--inner-height-large);
}

.callout.callout--size-small .callout__inner {
  width: var(--inner-width-small);
  height: var(--inner-height-small);
}

.callout__inner {
  transform: rotateZ(var(--callout-rotation));
  overflow: hidden;
}

.callout__prefix {
  font-size: var(--prefix-fontsize);
  font-weight: 400;
}

.callout__text {
  font-size: var(--text-fontsize);
  font-weight: 700;
}

.callout__sup {
  font-size: 30px;
  cursor: help;
}

.callout.callout--size-large.callout--asterisk .callout__prefix {
  margin-bottom: 10px;
}

.callout.callout--size-small .callout__prefix {
  margin-bottom: 10px;
}
