:host,
.checkbox-group {
  /* checkbox-group container */
  --spacing-left-container: var(--telekom-spacing-unit-x8);

  /* checkbox-group checkbox */
  --spacing-left-checkbox: var(--telekom-spacing-unit-x2);

  /* slotted item */
  --spacing-top-slotted-item: var(--telekom-spacing-unit-x3);
}

.checkbox-group {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.checkbox-group [part='fieldset'] {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin: 0;
  margin-left: var(--spacing-left-container);
}

.checkbox-group [part='parent-checkbox'] {
  line-height: var(--telekom-typography-line-spacing-standard);
  --font-weight-label: var(--telekom-typography-font-weight-bold);
}

.checkbox-group legend {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.checkbox-group scale-checkbox {
  margin-top: var(--spacing-top-slotted-item);
}
