.checkbox-group {
  display: inline-flex;
  flex-direction: column;
}

.checkbox-group__container {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.checkbox-group__checkbox {
  margin-top: 0.5rem;
}

::slotted(*) {
  padding-top: 5px;
}
