:host {
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding-left: 36px;
  padding-right: 36px;
  box-shadow: var(--telekom-shadow-app-bar-bottom-flat);
}

::slotted(scale-bottom-bar-item) {
  flex: 1;
}

:host-context([data-platform='android']) .bottom-bar {
  height: 80px;
}

:host-context([data-platform='ios']) .bottom-bar {
  height: 48px;
}
