.alertbox_container {
  background-color: var(--alertbox-color);
  color: white;
  width: 100%;
}

.alertbox--color-red {
  background-color: var(--scl-color-primary);
}

.alertbox--color-black {
  background-color: var(--scl-color-black);
}

.alertbox--color-white {
  background-color: var(--scl-color-white);
}

