:host {
  /* Token not available, up for discussion - Alerbox Variants/Colors*/
  --variant-error: hsla(353.79999999999995, 100%, 88.6%, 0.35);
  --variant-warning: hsla(33.5, 100%, 75.1%, 0.3);
  --variant-informational: hsla(190.20000000000005, 100%, 92%, 0.75);
  --variant-success: hsl(98.80000000000001, 49.7%, 61%, 0.2);

  /* Alertbox styling */
  --alertbox-border-radius: 8px;
  --alertbox-border: 1px solid var(--scl-color-white);
  --alertbox-width: 100%;
  --alertbox-font-header: var(--scl-fonts-family-sans);
  --alertbox-font-size-header: 16px;
  --alertbox-font-text: var(--scl-font-weight-regular);
  --alertbox-font-size-text: 16px;
}

.alertbox {
  border: var(--alertbox-border);
  border-radius: var(--alertbox-border-radius);
  width: var(--alertbox-width);
  position: relative;
}

/*Alertbox Color*/
.alertbox--variant-error {
  background: var(--variant-error);
  color: var(--scl-color-black);
}
.alertbox.alertbox--variant-warning {
  background-color: var(--variant-warning);
  color: var(--scl-color-black);
}
.alertbox.alertbox--variant-informational {
  background-color: var(--variant-informational);
  color: var(--scl-color-black);
}
.alertbox.alertbox--variant-success {
  background-color: var(--variant-success);
  color: var(--scl-color-black);
}

/*header*/
.alertbox .alertbox__container-header {
  font-weight: bold;
  margin: 14px 48px 14px 48px;
  font-family: var(--alertbox-font-header);
  font-size: var(--alertbox-font-size-header);
  line-height: 1.25;
}

/* Text/Content */
.alertbox .alertbox__content {
  margin: 8px 48px 15px 48px;
  font-family: var(--alertbox-font-text);
  font-size: var(--alertbox-font-size-text);
}

/* Close Icon/Button */
.alertbox .alertbox__container-header .alertbox__icon-close {
  position: absolute;
  top: 13px;
  right: 17px;
  color: black;
}

.alertbox .alertbox__container-header .alertbox__icon-close svg {
  height: 19px;
  width: 19px;
  padding: 3px;
  border-radius: 30%;
}

.alertbox .alertbox__container-header .alertbox__icon-close :hover {
  background-color: white;
  color: var(--scl-color-primary-active);
}

/* Success Icon */
.alertbox .alertbox__icon-success {
  position: absolute;
  top: 13px;
  left: 17px;
  height: 20px;
  width: 20px;

  color: var(--scl-color-background-success);
}

/* Error Icon */
.alertbox .alertbox__icon-error {
  position: absolute;
  top: 13px;
  left: 17px;
  height: 20px;
  width: 20px;
  color: var(--scl-color-background-error);
}

/* Info Icon */
.alertbox .alertbox__icon-information {
  position: absolute;
  top: 13px;
  left: 17px;
  height: 20px;
  width: 20px;
  color: var(--scl-color-text-info);
}
