:host {
  --corner-radius: 10px;
}

.alertbox {
  border: 1px solid var(--scl-color-white);
  border-radius: var(--corner-radius);
  width: 278px;
  font-size: 12px;
  position: relative;
}

.alertbox.alertbox--color-error {
  background-color: var(--scl-color-red-70);
  color: var(--scl-color-white);
}

.alertbox.alertbox--color-black {
  background-color: var(--scl-color-black);
  color: var(--scl-color-white);
}

.alertbox.alertbox--color-white {
  background-color: var(--scl-color-white);
  color: var(--scl-color-black);
}

.alertbox.alertbox--variant-outline.alertbox--color-white {
  border: 1px solid var(--scl-color-black);
  border-radius: var(--corner-radius);
}

.alertbox.alertbox--variant-outline.alertbox--color-black {
  border: 1px solid var(--scl-color-white);
  border-radius: var(--corner-radius);
}

.alertbox.alertbox--variant-floating.alertbox--color-error {
  height: 120px;
  box-shadow: 0px 5px 20;
}

.alertbox.alertbox--variant-floating.alertbox--color-white {
  height: 120px;
  box-shadow: 0px 5px 20;
}

.alertbox.alertbox--variant-floating.alertbox--color-black {
  height: 120px;
  box-shadow: 0px 5px 20;
}

.alertbox.alertbox--content-missing {
  height: 32px;
}

.alertbox.alertbox--content-missing .alertbox__container-header {
  margin-top: -2.5px;
}

.alertbox .alertbox__container-header {
  font-weight: bold;
  padding: 0 32px 0 16px;
}

.alertbox .alertbox__content {
  margin-top: -8px;
  padding: 0 32px 0 16px;
}

.alertbox .alertbox__container-header .alertbox__icon-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 9px 0 0;
  height: 16px;
  width: 16px;
}

.alertbox.alertbox--content-missing
  .alertbox__container-header
  .alertbox__icon-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  width: 16px;
  padding-top: 4.5px;
}
