.component-usage-example .controls {
	margin-bottom: -1px;
	min-width: 360px;
}

.component-usage-example .control {
	margin-right: -1px;
}

.component-usage-example .controls__current {
	font-size: 14px;
	height: 32px;
	padding: 0 .5rem;
	opacity: .5;
}

.component-usage-example .frame {
	width: 100%;
	min-width: 320px;
	overflow-x: scroll;
	border: 1px solid rgba(0,0,0,.1);
	background: #eee;
}

.component-usage-example .preview__frame {
	width: 100%;
	/* height: 600px; */
	outline: none;
	transition: all .3s ease-in-out, opacity .5s ease-in-out;
	transition-delay: .5s;
	border: none;
	background: #fff;
	display: flex;
	opacity: 1;
}

.component-usage-example .preview__frame.initial {
	height: 60px;
	opacity: 0;
	transition: all .3s ease-in-out;
}
