.components__general-row {
	display: grid;
	grid-template-columns: 140px auto;
	align-items: center;
}

.components__general-row .label {
	margin-right: .5rem;
	opacity: .5;
}

.components__general-row .value {
	padding: .25rem .5rem;
	/* border: 1px solid rgba(0, 0, 0, .1); */
	border-radius: 4px;
}
