<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <p>
    <scale-text-field label="Username" formControlName="username"></scale-text-field>
  </p>
  <p>
    <scale-text-field label="Password" formControlName="password" type="password"></scale-text-field>
  </p>
  <p>
    <scale-checkbox label="I agree with the privacy policy" formControlName="consent"></scale-checkbox>
  </p>
  <p>
    <scale-dropdown-select label="select" formControlName="select">
      <scale-dropdown-select-item value="foo">Foo</scale-dropdown-select-item>
      <scale-dropdown-select-item value="bar">Bar</scale-dropdown-select-item>
    </scale-dropdown-select>
  </p>

  <p>
    <scale-date-picker
    label="Standard"
    value="2020-12-31"
    placeholder="Select date"
    formControlName="date"
    ></scale-date-picker>
  </p>
  <scale-button type="submit">console.log</scale-button>
  <scale-button type="reset" variant="secondary">Reset</scale-button>
</form>

<scale-card>
  <pre>{{ signupForm.value | json }}</pre>
</scale-card>
