.slot-wrapper {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
}

.slot-wrapper__badge {
  position: absolute;
  font-size: xx-small;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
