:host {
  /*
  border
  */
  --notification-badge_border-border: #009de0 1.5px solid;
  --notification-badge_border-radius: 5px;
  /*
  badge
  */
  --notification-badge-size: 8px;
  --notification-badge-background: #e20074;
  --notification-badge-color: #ffffff;
  /*text*/
  --notification-badge-text-top: -3px;
  --notification-badge-text-right: -11px;

  /*label*/
  --notification-badge-label-size: 12px;
  --notification-badge-label-font-size: 6px;
  /*label & text*/
  --notification-badge-label-text-top: -6px;
  --notification-badge-label-text-right: -14px;

  /*max-width: 1023px*/
  /*icon*/
  --notification-badge-max-1023-icon-top: 1px;
  --notification-badge-max-1023-icon-right: -2px;
  --notification-badge-max-1023-icon-height: 6px;
  --notification-badge-max-1023-icon-min-width: 6px;
  /*label & icon*/
  --notification-badge-max-1023-label-icon-top: -3px;
  --notification-badge-max-1023-label-icon-right: -5px;
  --notification-badge-max-1023-label-icon-font-size: 10px;
  --notification-badge-max-1023-label-icon-height: 12px;
  --notification-badge-max-1023-label-icon-min-width: 10px;

  /*min-width: 1024px*/
  /*icon*/
  --notification-badge-min-1024-icon-top: -4.5px;
  --notification-badge-min-1024-icon-right: 4px;
  --notification-badge-min-1024-icon-height: 8px;
  --notification-badge-min-1024-icon-min-width: 8px;
  /*label & icon*/
  --notification-badge-min-1024-label-icon-top: -6px;
  --notification-badge-min-1024-label-icon-right: -1.5px;
  --notification-badge-min-1024-label-icon-font-size: 12px;
  --notification-badge-min-1024-label-icon-height: 14px;
  --notification-badge-min-1024-label-icon-min-width: 12px;
}

.notification-badge_wrapper {
  display: flex;
}

.notification-badge_border--icon ::slotted([slot='after-badge']) {
  display: inline-block;
  padding-left: 4px;
  padding-top: 6.5px;
}

.notification-badge_border--text ::slotted([slot='after-badge']) {
  padding-left: 17px;
  padding-top: 0;
}

.notification-badge {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  outline: none;
}

/*.notification-badge_border {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  outline: none;
  text-align: center;
}
 .notification-badge_border:focus.notification-badge_border::after {
  content: '';
  position: absolute;
  border: var(--notification-badge_border-border);
  border-radius: var(--notification-badge_border-radius);
}

.notification-badge_border:focus.notification-badge_border.notification-badge_border--text::after {
  top: -10px;
  left: -15px;
  right: -20px;
  bottom: -10px;
}

.notification-badge_border:focus.notification-badge_border.notification-badge_border--icon::after {
  top: -10px;
  left: -10px;
  right: -15px;
  bottom: -5px;
} */

.notification-badge .notification-badge__circle {
  position: absolute;

  background: var(--notification-badge-background);
  color: var(--notification-badge-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.notification-badge.notification-badge--label .notification-badge__circle {
  font-size: var(--notification-badge-label-font-size);
  min-width: 10px;
  height: var(--notification-badge-label-size);
  padding-right: 1px;
  padding-left: 1px;
}

@media (max-width: 1023px) {
  .notification-badge.notification-badge--label.notification-badge--icon
    .notification-badge__circle {
    top: var(--notification-badge-max-1023-label-icon-top);
    right: var(--notification-badge-max-1023-label-icon-right);
    font-size: var(--notification-badge-max-1023-label-icon-font-size);
    height: var(--notification-badge-max-1023-label-icon-height);
    min-width: var(--notification-badge-max-1023-label-icon-min-width);
    border-radius: 20px;
  }
  .notification-badge.notification-badge--icon .notification-badge__circle {
    top: var(--notification-badge-max-1023-icon-top);
    right: var(--notification-badge-max-1023-icon-right);
    height: var(--notification-badge-max-1023-icon-height);
    min-width: var(--notification-badge-max-1023-icon-min-width);
    border-radius: 50%;
  }
}

@media (min-width: 1024px) {
  .notification-badge.notification-badge--label.notification-badge--icon
    .notification-badge__circle {
    top: var(--notification-badge-min-1024-label-icon-top);
    right: var(--notification-badge-min-1024-label-icon-right);
    font-size: var(--notification-badge-min-1024-label-icon-font-size);
    height: var(--notification-badge-min-1024-label-icon-height);
    min-width: var(--notification-badge-min-1024-label-icon-min-width);
    border-radius: 20px;
  }
  .notification-badge.notification-badge--icon .notification-badge__circle {
    top: var(--notification-badge-min-1024-icon-top);
    right: var(--notification-badge-min-1024-icon-right);
    height: var(--notification-badge-min-1024-icon-height);
    min-width: var(--notification-badge-min-1024-icon-min-width);
    border-radius: 50%;
  }
}
