/**
* @prop --progress-bar-display: Display of the progress bar
* @prop --progress-bar-width: Width of the progress bar
* @prop --progress-bar-align-items: Align items of the progress bar
* @prop --progress-bar__outer-margin: Margin of the progress bar outer
* @prop --progress-bar__outer-position: Position of the progress bar outer
* @prop --progress-bar__outer-height: Height of the progress bar outer
* @prop --progress-bar__outer-border-radius: Border radius of the progress bar outer
* @prop --progress-bar__outer-background: Background of the progress bar outer
* @prop --progress-bar__outer-overflow: Overflow of the progress bar outer
* @prop --progress-bar__outer-position: Position of the progress bar outer
* @prop --progress-bar__outer-width: Width of the progress bar outer
* @prop --progress-bar__inner-position: Position of the progress bar inner
* @prop --progress-bar__inner-left: Left of the progress bar inner
* @prop --progress-bar__inner-top: Top of the progress bar inner
* @prop --progress-bar__inner-height: Height of the progress bar inner
* @prop --progress-bar__inner-border-radius: Border radius of the progress bar inner
* @prop --progress-bar__inner-width: Width of the progress bar inner
* @prop --progress-bar__inner-white-space: White space of the progress bar inner
* @prop --progress-bar__inner-transition: Transition of the progress bar inner
* @prop --progress-bar__inner-display: Display of the progress bar inner
* @prop --progress-bar__inner-border-align-items: Align items of the progress bar inner
* @prop --progress-bar__inner-justify-content: Justify content of the progress bar inner
* @prop --progress-bar__inner-variant-success-background: Background of progress bar inner variant success
* @prop --progress-bar__inner-variant-info-background: Background of progress bar inner variant info
* @prop --progress-bar__inner-variant-warning-background: Background of progress bar inner variant warning
* @prop --progress-bar__inner-variant-danger-background: Background of progress bar inner variant danger
* @prop --progress-bar__inner-text-color: Text color of inside progress bar
* @prop --progress-bar__inner-text-font-size: Text fond size of inside progress bar
* @prop --progress-bar__inner-text-padding: Text padding of inside progress bar
* @prop --progress-bar__text-color: Text color of progress bar
* @prop --progress-bar__text-font-size: Text fond size of progress bar
* @prop --progress-bar__text-display: Text display of progress bar
*/

.progress-bar {
  display: var(--progress-bar-display, flex);
  width: var(--progress-bar-width, 100%);
  align-items: var(--progress-bar-align-items, center);
  box-sizing: border-box;
}

.progress-bar__outer {
  margin: var(--progress-bar__outer-margin, 12px 12px 12px 0);
  position: var(--progress-bar__outer-position, relative);
  height: var(--progress-bar__outer-height, 6px);
  border-radius: var(--progress-bar__outer-border-radius, 100px);
  background: var(--progress-bar__outer-background, #ebeef5);
  overflow: var(--progress-bar__outer-overflow, hidden);
  position: var(-progress-bar__outer-position, relative);
  width: var(--progress-bar__outer-width, 400px);
}

.progress-bar__inner {
  position: var(--progress-bar__inner-position, absolute);
  left: var(--progress-bar__inner-left, 0);
  top: var(--progress-bar__inner-top, 0);
  height: var(--progress-bar__inner-height, 100%);
  border-radius: var(--progress-bar__inner-border-radius, 100px);
  white-space: var(--progress-bar__inner-white-space, nowrap);
  transition: var(--progress-bar__inner-transition, width 0.5s ease);
  display: var(--progress-bar__inner-display, flex);
  align-items: var(--progress-bar__inner-align-items, center);
  justify-content: var(--progress-bar__inner-justify-content, flex-end);
}

.progress-bar__inner-variant-success {
  background: var(--progress-bar__inner-variant-success-background, #28a745);
}

.progress-bar__inner-variant-info {
  background: var(--progress-bar__inner-variant-info-background, #409eff);
}

.progress-bar__inner-variant-warning {
  background: var(--progress-bar__inner-variant-warning-background, #ffc107);
}

.progress-bar__inner-variant-danger {
  background: var(--progress-bar__inner-variant-dander-background, #dc3545);
}

.progress-bar__inner-text {
  color: var(--progress-bar__inner-text-color, #fff);
  font-size: var(--progress-bar__inner-text-font-size, 12px);
  padding: var(--progress-bar__inner-text-padding, 0 12px);
}
.progress-bar__text {
  color: var(--progress-bar__text-color, #606266);
  font-size: var(--progress-bar__font-size, 14px);
  display: var(--progress-bar__display, inline-block);
}
