@import url('../../../global/custom-media.css');

.telekom-footer-extended-navigation-column {
  --heading-color: var(--telekom-color-text-and-icon-standard);
  --heading-weight: var(--telekom-typography-font-weight-bold);
  --link-color: var(--telekom-color-text-and-icon-standard);
}

.telekom-footer-extended-navigation-column .telekom-footer-extended-navigation-column-links {
  display: none;
}

.telekom-footer-extended-navigation-column.expanded .telekom-footer-extended-navigation-column-links {
  display: block
}

.telekom-footer-extended-navigation-column-links {
  font-size: 16px;
  line-height: 140%;
}

.heading, .heading-button {
  font-size: 16px;
  line-height: 140%;
  margin: 0;
  color: var(--heading-color);
  font-weight: var(--heading-weight);
	background: none;
	border: none;  
}

.heading-button {
  display: flex; 
	padding: 0;
  width: 100%;
	cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.heading {
  display: none;
}

scale-divider {
  --spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (--md) {
  .heading-button {
    display: none;
  }
  .heading {
    display: block;
  }  
  .telekom-footer-extended-navigation-column .telekom-footer-extended-navigation-column-links {
    display: block;
  }  
  scale-divider {
    display: none;
  }
}

.telekom-footer-extended-navigation-column.expanded scale-icon-navigation-right {
  transform: rotate(0.25turn);
}