.telekom-footer-extended-navigation-column {
  --heading-color: var(--telekom-color-text-and-icon-standard);
  --heading-weight: var(--telekom-typography-font-weight-bold);
  --link-color: var(--telekom-color-text-and-icon-standard);
}

.telekom-footer-extended-navigation-column-links {
  display: flex;
  flex-direction: column;
}

.telekom-footer-extended-navigation-column-links {
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
}
