@import url('../../../global/custom-media.css');

.telekom-footer-extended-navigation {
  --extended-navigation-background: var(
    --telekom-color-background-surface-subtle
  );
  --_max-width-container: var(--scl-grid-max-width, 1680px);
  --spacing-x: var(--telekom-spacing-unit-x6);
  --column-gap: var(--telekom-spacing-unit-x8);

  --heading-color: var(--telekom-color-text-and-icon-standard);
  --heading-weight: var(--telekom-typography-font-weight-bold);
  --link-color: var(--telekom-color-text-and-icon-standard);

  width: 100%;
  display: flex;
  background-color: var(--extended-navigation-background);
  align-items: center;
  justify-content: center;
}

.extended-navigation-container {
  max-width: var(--_max-width-container);
  padding-left: var(--_spacing-x-container);
  padding-right: var(--_spacing-x-container);
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.telekom-footer-extended-navigation :where(ul) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  /* LEAKY: need this to overwrite the column gap in the footer navigation */
  gap: 0;
}

.telekom-footer-extended-navigation :where(li) {
  margin-top: 20px;
  font-size: 16px;
}

.telekom-footer-extended-navigation :where(li) * {
  color: var(--link-color);
}

.telekom-footer-extended-navigation :where(li:first-child) {
  margin-top: 22px;
}

.telekom-footer-extended-navigation
  :where(scale-telekom-footer-extended-navigation-column) {
  display: flex;
  flex-direction: column;
  grid-column: auto / span 4;
}

scale-telekom-footer-extended-navigation-column {
  border-bottom: 1px solid var(--telekom-color-ui-faint);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
scale-telekom-footer-extended-navigation-column:last-of-type {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;  
}


scale-telekom-footer-extended-navigation-column[expanded] {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

@media screen and (--md) {
  .extended-navigation-container {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    column-gap: var(--column-gap);
  }
  scale-telekom-footer-extended-navigation-column,
  scale-telekom-footer-extended-navigation-column[expanded]
  {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}
