@import url('../../../global/custom-media.css');

[part~='telekom-footer-extended-navigation'] {
  --extended-navigation-background: var(
    --telekom-color-background-surface-subtle
  );
  --_max-width-container: var(--scl-grid-max-width, 1680px);
  --spacing-x: var(--telekom-spacing-unit-x6);
  --column-gap: var(--telekom-spacing-unit-x8);

  --heading-color: var(--telekom-color-text-and-icon-standard);
  --heading-weight: var(--telekom-typography-font-weight-bold);
  --link-color: var(--telekom-color-text-and-icon-standard);

  width: 100%;
  display: flex;
  background-color: var(--extended-navigation-background);
  align-items: center;
  justify-content: center;
}

[part~='extended-navigation-container'] {
  max-width: var(--_max-width-container);
  padding-left: var(--_spacing-x-container);
  padding-right: var(--_spacing-x-container);
  width: 100%;
  display: flex;
  flex-direction: column;
}

[part~='telekom-footer-extended-navigation'] :where(ul) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  /* need this to overwrite the column gap in the footer navigation */
  gap: 0;
}

[part~='telekom-footer-extended-navigation'] :where(a) {
  font-size: var(--telekom-typography-font-size-body);
  color: var(--link-color);
  margin-top: var(--telekom-spacing-unit-x5);
  border: none;
  line-height: 22px;
}

[part~='telekom-footer-extended-navigation'] :where(li:first-child) {
  padding-top: 0;
}

[part~='telekom-footer-extended-navigation'] :where(li:first-child) a {
  margin-top: 0;
}

[part~='telekom-footer-extended-navigation'] :where(a):hover {
  color: var(--telekom-color-text-and-icon-primary-hovered);
}
[part~='telekom-footer-extended-navigation'] :where(a):active {
  color: var(--telekom-color-text-and-icon-primary-pressed);
}

[part~='telekom-footer-extended-navigation']
  :where(scale-telekom-footer-extended-navigation-column) {
  display: grid;
  flex-direction: column;
  grid-column: auto / span 4;
}

scale-telekom-footer-extended-navigation-column,
scale-telekom-footer-extended-navigation-column[expanded] {
  border-bottom: 1px solid var(--telekom-color-ui-faint);
}
scale-telekom-footer-extended-navigation-column:last-of-type,
scale-telekom-footer-extended-navigation-column[expanded]:last-of-type {
  border-bottom: none;
  margin-bottom: var(--telekom-spacing-unit-x5);
  padding-bottom: 0;
}

scale-telekom-footer-extended-navigation-column:first-of-type {
  margin-top: var(--telekom-spacing-unit-x5);
}

@media screen and (--md) {
  [part~='telekom-footer-extended-navigation'] :where(li:first-child) {
    padding-top: var(--telekom-spacing-unit-x5);
  }
  [part~='extended-navigation-container'] {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    column-gap: var(--column-gap);
  }
  scale-telekom-footer-extended-navigation-column,
  scale-telekom-footer-extended-navigation-column[expanded],
  scale-telekom-footer-extended-navigation-column:first-of-type,
  scale-telekom-footer-extended-navigation-column:last-of-type,
  scale-telekom-footer-extended-navigation-column[expanded]:last-of-type {
    margin-bottom: var(--telekom-spacing-unit-x12);
    margin-top: var(--telekom-spacing-unit-x12);
    padding-bottom: 0;
    border-bottom: 0;
  }
}
