landing-page {
  display: block;
  overflow: hidden;
}

landing-page .hero {
  position: relative;
  margin-top: 0px;
  margin-bottom: 220px;
}

landing-page .hero hgroup {
  max-width: 620px;
  position: relative;
  z-index: 2;
}

landing-page .hero hgroup h1 {
  font-size: 56px;
  line-height: 54px;
  margin-bottom: 20px;
  margin-top: 64px;
  letter-spacing: -0.018em;
  font-weight: 600;
}

landing-page .hero hgroup p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-dolphin);
  margin-bottom: 32px;
}

landing-page .hero hgroup yahr-button {
  display: inline-block;
}

landing-page .hero hgroup yahr-button+yahr-button {
  margin-left: 10px;
}

landing-page .hero .landing-page__bg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-80px, -50%);
  margin-top: 20px;
}

landing-page .companies {
  position: relative;
  /* z-index: 2; */
  padding-bottom: 80px;
  border-bottom: 1px solid var(--color-whisper);
}

landing-page .companies h3 {
  font-weight: 600;
  font-size: 20px;
  max-width: 320px;
  margin-bottom: 40px;
}

landing-page .companies ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

landing-page .companies ul li {
  display: inherit;
}

landing-page .cta {
  background: #F4F7FA;
  text-align: center;
  padding: 18px;
  margin-top: 36px;
}

landing-page .cta__primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

landing-page .cta__primary h3 {
  font-size: 20px;
}

landing-page .cta__primary code {
  font-size: 16px;
  padding: 19px 26px 19px;
  border-radius: 8px;
  background-color: #161525;
  color: #E0E0F1;
  margin: 4px 0 4px;
  cursor: copy;
  transition: background-color 0.2s, color 0.2s;
}

landing-page .cta__primary code:hover {
  background-color: #161525;
  color: #fff;
}

landing-page .cta__primary code.copied {
  background-color: #5cba47;
  color: #fff;
}

landing-page .cta__primary span,
landing-page .cta__primary span a {
  font-size: 11px;
  color: var(--color-dolphin);
}

landing-page .cta__primary span a,
landing-page .cta__secondary a {
  transition: border 0.3s;
  text-decoration: none;
  border-bottom: 1px solid #D7DBE6;
}

landing-page .cta__primary span a:hover,
landing-page .cta__secondary a:hover {
  border-bottom-color: #C3C8D8;
}

landing-page .cta__secondary {
  font-size: 13px;
}

landing-page section {
  padding: 160px 0;
}

landing-page section:not(.overview):not(.gradient-bg)+section:not(.stencil-story) {
  padding-top: 80px;
}

landing-page section .two-col {
  display: flex;
}

landing-page section .two-col hgroup {
  padding-right: 32px;
}

landing-page section .two-col>* {
  flex: 0 0 50%;
}

landing-page section p+p,
landing-page section p+ul.list--unstyled,
landing-page section ul+p {
  margin-top: 16px;
}

landing-page section p+stencil-route-link {
  display: inline-block;
  margin-top: 20px;
}

landing-page h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.018em;
  color: #7A798D;
  margin-top: 0;
  max-width: 416px;
}

landing-page h2 strong {
  font-weight: 600;
  color: #100F22;
}

landing-page h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

landing-page h6 {
  font-size: 15px;
  font-weight: 600;
}

landing-page p,
landing-page ul {
  margin: 0;
  color: var(--color-dolphin);
  font-size: 17px;
  line-height: 1.7;
}

landing-page .overview {
  padding-bottom: 0;
}

landing-page .overview ul {
  column-count: 2;
}

landing-page .overview ul li {
  flex: 0 0 50%;
  font-size: 14px;
  line-height: 1.4;
  backface-visibility: hidden;
}

landing-page .overview ul li+li {
  margin-top: 12px;
}

landing-page .gradient-bg {
  background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
}

landing-page .stencil-story {
  border-top: 1px solid var(--color-whisper);
  text-align: center;
  padding: 160px 0 90px;
}

landing-page .stencil-story .container {
  max-width: 620px;
}

landing-page .stencil-story h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

landing-page .stencil-story p {
  margin-bottom: 28px;
}

landing-page .list--icon svg {
  fill: var(--color-primary) !important;
}

landing-page .videos {
  display: flex;
  justify-content: center;
}

landing-page .video-thumbnail {
  transition: transform 0.2s;
  display: block;
  margin: 0;
  width: 230px;
  height: 150px;
  position: relative;
  text-decoration: none;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

landing-page .video-thumbnail+.video-thumbnail {
  margin-left: 16px;
}

landing-page .video-thumbnail::before {
  transition: transform 0.2s;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/video-thumbnail.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

landing-page .video-thumbnail--launch::before {
  background-image: url('/assets/img/video-thumbnail.png');
}

landing-page .video-thumbnail--announcement::before {
  background-image: url('/assets/img/video-thumbnail-2.png');
}

landing-page .video-thumbnail:hover::before {
  transform: scale(0.982);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

landing-page .video-thumbnail span,
landing-page .video-thumbnail svg {
  position: relative;
  z-index: 2;
}

landing-page .video-thumbnail span {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0px 2px 4px rgba(2, 8, 20, 0.2);
}

landing-page .video-thumbnail svg {
  transition: transform 0.2s;
  margin-bottom: 4px;
}

landing-page .video-thumbnail:hover svg {
  transform: scale(1.05);
}

landing-page .video-thumbnail svg circle {
  transition: fill-opacity 0.2s;
}

landing-page .video-thumbnail:hover svg circle {
  fill-opacity: 1;
}

@media screen and (max-width: 960px) {
  landing-page .companies ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: -20px;
    max-width: 544px;
  }
  landing-page .companies ul li {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  landing-page .hero {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 140px;
  }
  landing-page .hero hgroup {
    margin-left: auto;
    margin-right: auto;
  }
  landing-page .hero svg {
    transform: translate(-50%, -50%);
    margin-top: 66px;
  }
  landing-page .hero hgroup h1 {
    font-size: 48px;
  }
  landing-page .companies {
    text-align: center;
  }
  landing-page .companies ul {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  landing-page .companies h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  landing-page section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  landing-page section:not(.overview):not(.gradient-bg)+section:not(.stencil-story) {
    padding-top: 0px;
  }
  landing-page .container {
    max-width: 560px;
  }
  landing-page .two-col {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  landing-page .hero hgroup stencil-route-link,
  landing-page .hero hgroup stencil-route-link a {
    width: 100%;
    display: block;
  }
  landing-page .hero hgroup stencil-route-link+stencil-route-link {
    margin-left: 0;
    margin-top: 12px;
  }
}

.feature-list {
  display: flex;
}

h2+.feature-list {
  margin-top: 96px;
}

.feature-list__item {
  padding-right: 32px;
  flex: 1;
}

.feature-list__item app-icon {
  padding: 1px;
}

.feature-list__item svg {
  fill: #000 !important;
  width: 32px;
  height: 32px;
  margin: 0 0 8px;
}

.feature-list__item h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-woodsmoke);
}

.feature-list__item p {
  max-width: 270px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .feature-list {
    flex-direction: column;
  }
  h2+.feature-list {
    margin-top: 48px;
  }
  .feature-list__item {
    position: relative;
  }
  .feature-list__item+.feature-list__item {
    margin-top: 32px;
  }
  .feature-list__item app-icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .feature-list__item svg {
    margin: 0;
    width: 24px;
    height: 24px;
  }
  .feature-list__item p {
    max-width: 100%;
  }
}

.fw-icon {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('/assets/img/frameworks-sprite.png');
  background-repeat: no-repeat;
  background-size: 35px 140px;
}

.fw-icon--react {
  background-position: 0 0;
}

.fw-icon--angular {
  background-position: 0 -35px;
}

.fw-icon--vue {
  background-position: 0 -70px;
}

.fw-icon--ember {
  background-position: 0 -105px;
}

.card-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  width: 100%;
}

.card-links li {
  margin: 6px;
}

.card-links__item a {
  transition: transform 0.2s;
  display: block;
  background: var(--color-white);
  font-size: 13px;
  font-weight: 400;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  width: 96px;
}

@media screen and (max-width: 940px) {
  .card-links li {
    flex: 0 0 50%;
    margin: 0;
    padding: 6px;
  }
  .card-links__item a {
    width: 100%;
  }
}

.card-links__item a:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
}

.card-links__item .fw-icon {
  margin: 8px 0 6px;
}
