.notification-badge {
  color: black;
  text-decoration: none;
  position: relative;
  display: inline-block;

  justify-content: center;
}

.notfication-badge__circle {
  display: flex;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #e20074;
  color: white;
  align-items: center;
  justify-content: center;
}

.notification-badge.notification-badge--label .notfication-badge__circle {
  padding: 0 1px;
}

@media (min-width: 1024px) {
  /*icon*/
  .notification-badge.notification-badge--icon .notfication-badge__circle {
    top: -4px;
    right: -2px;
    height: 8px;
    min-width: 8px;
  }
  .notification-badge.notification-badge--label.notification-badge--icon
    .notfication-badge__circle {
    top: -8px;
    right: -5px;
    height: 14px;
    min-width: 12px;
  }
  /*nav-icon*/
  .notification-badge.notification-badge--nav-icon .notfication-badge__circle {
    top: -5px;
    right: 4px;
    height: 8px;
    min-width: 8px;
  }
  .notification-badge.notification-badge--label.notification-badge--nav-icon
    .notfication-badge__circle {
    top: -8px;
    right: 1px;
    height: 14px;
    min-width: 12px;
  }
}

@media (max-width: 1023px) {
  /*icon*/
  .notification-badge.notification-badge--icon .notfication-badge__circle {
    top: -4px;
    right: -1px;
    height: 8px;
    min-width: 8px;
  }
  .notification-badge.notification-badge--label.notification-badge--icon
    .notfication-badge__circle {
    top: -6px;
    right: -4px;
    height: 14px;
    min-width: 12px;
  }
  /*nav-icon*/
  .notification-badge.notification-badge--nav-icon .notfication-badge__circle {
    top: 0px;
    right: -1px;
    height: 6px;
    min-width: 6px;
  }
  .notification-badge.notification-badge--label.notification-badge--nav-icon
    .notfication-badge__circle {
    top: -3px;
    right: -4.5px;
    height: 12px;
    min-width: 10px;
  }
}
