:host {
  --color-badge: #e20074;
  --inner-width-small: 86px;
  --inner-height-small: 88px;
  --inner-width-big: 126.5px;
  --inner-height-big: 96px;
  --width-small: 120px;
  --height-small: 120px;
  --height-big: 160px;
  --width-big: 160px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: var(--color-badge);
}

.badge.badge--color-primary {
  background: var(--scl-color-primary, #e20074);
}
.badge.badge--color-white {
  background: #ffffff;
}
.badge.badge--color-blue {
  background: #00739f;
}
.badge.badge--color-black {
  background: #191919;
}

.badge.badge--size-large {
  width: var(--width-big);
  height: var(--height-big);
}

.badge.badge--size-small {
  width: var(--width-small);
  height: var(--height-small);
}

.badge.badge--size-large .badge--inner {
  width: var(--inner-width-big);
  height: var(--inner-height-big);
}

.badge.badge--size-small .badge--inner {
  width: var(--inner-width-small);
  height: var(--inner-height-small);
}

.badge--inner {
  transform: rotateZ(var(--badge-rotation));
  overflow: hidden;
}
