.input-text {
  display: flex;
  flex-direction: column;
}

.input-text__input {
  border: var(--input-text-border, 1px solid #dfdfdf);
  border-radius: var(--input-text-border-radius, 4px);
  padding: var(--input-text-padding, 0.5rem);
  font-size: var(--input-text-font-size, 16px);
  font-family: var(--input-text-font-family, inherit);
}

/*
 * TODO: implement accessability
 * -----------------------------
 * Once the user starts tabbing it probably
 * means that a screen-reader is required
 */

.input-text:not(.tabbing):focus {
  outline: 0;
}

.input-text__validation {
  font-size: var(--input-text-validation-font-size, 12px);
  opacity: var(--input-text-validation-opacity, 0.7);
  margin: var(--input-text-validation-margin, 0.5rem 0 0 0);
  color: var(--input-text-validation-color, red);
}
