.input-text {
  border: var(--input-text-border, 1px solid #dfdfdf);
  border-radius: var(--input-text-border-radius, 4px);
  padding: var(--input-text-padding, 0.5rem 1rem);
  font-size: var(--input-text-font-size, 16px);
  font-family: var(--input-text-font-family, inherit);
}

/*
 * TODO: implement accessability
 * -----------------------------
 * Once the user starts tabbing it probably
 * means that a screen-reader is required
 */

.input-text:not(.tabbing):focus {
  outline: 0;
}
.input-container {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid grey;
}

.input-container input {
  outline: none !important;
  border: none;
  width: 100%;
  font-size: 0.8rem;
}
