host*,
*::before,
*::after {
  box-sizing: inherit;
}

:host {
  --scale-tooltip-border-radius: var(--scl-radius-4);
  --scale-tooltip-background-color: var(--scl-color-grey-60);
  --scale-tooltip-color: var(--scl-color-white);
  --scale-tooltip-font-weight: var(--scl-font-weight-regular);
  --scale-tooltip-font-size: var(--scl-font-size-12);
  --scale-tooltip-line-height: 1.4;
  --scale-tooltip-padding: var(--scl-spacing-2) var(--scl-spacing-8);
  --scale-tooltip-arrow-size: 5px;
  --scale-tooltip-arrow-start-end-offset: var(--scl-spacing-8);

  --scale-tooltip-max-width: 20rem;
  --scale-tooltip-hide-delay: 0s;
  --scale-tooltip-hide-duration: 0.125s;
  --scale-tooltip-hide-timing-function: ease;
  --scale-tooltip-show-duration: 0.125s;
  --scale-tooltip-show-timing-function: ease;

  display: contents;
  position: relative;
  box-sizing: border-box;
}

.tooltip-positioner {
  position: absolute;
  z-index: var(--scale-z-index-tooltip);
  pointer-events: none;
}

#slot-container {
  width: max-content;
  height: max-content;
}

.tooltip {
  max-width: var(--scale-tooltip-max-width);
  border-radius: var(--scale-tooltip-border-radius);
  background-color: var(--scale-tooltip-background-color);
  font-size: var(--scale-tooltip-font-size);
  font-weight: var(--scale-tooltip-font-weight);
  line-height: var(--scale-tooltip-line-height);
  color: var(--scale-tooltip-color);
  opacity: 0;
  padding: var(--scale-tooltip-padding);
  transform: scale(0.8);
  transform-origin: bottom;
  transition-property: opacity, transform;
  transition-delay: var(--scale-tooltip-hide-delay);
  transition-duration: var(--scale-tooltip-hide-duration);
  transition-timing-function: var(--scale-tooltip-hide-timing-function);
}

.tooltip::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.tooltip-positioner.popover-visible .tooltip {
  opacity: 1;
  transform: none;
  transition-duration: var(--scale-tooltip-show-duration);
  transition-timing-function: var(--scale-tooltip-show-timing-function);
}

.tooltip-positioner[data-popper-placement^='top'] .tooltip {
  transform-origin: bottom;
}

.tooltip-positioner[data-popper-placement^='bottom'] .tooltip {
  transform-origin: top;
}

.tooltip-positioner[data-popper-placement^='left'] .tooltip {
  transform-origin: right;
}

.tooltip-positioner[data-popper-placement^='right'] .tooltip {
  transform-origin: left;
}

.tooltip-positioner[data-popper-placement^='bottom'] .tooltip::after {
  bottom: 100%;
  left: calc(50% - var(--scale-tooltip-arrow-size));
  border-bottom: var(--scale-tooltip-arrow-size) solid
    var(--scale-tooltip-background-color);
  border-left: var(--scale-tooltip-arrow-size) solid transparent;
  border-right: var(--scale-tooltip-arrow-size) solid transparent;
}

.tooltip-positioner[data-popper-placement='bottom-start'] .tooltip::after {
  left: var(--scale-tooltip-arrow-start-end-offset);
}

.tooltip-positioner[data-popper-placement='bottom-end'] .tooltip::after {
  right: var(--scale-tooltip-arrow-start-end-offset);
  left: auto;
}

.tooltip-positioner[data-popper-placement^='top'] .tooltip::after {
  top: 100%;
  left: calc(50% - var(--scale-tooltip-arrow-size));
  border-top: var(--scale-tooltip-arrow-size) solid
    var(--scale-tooltip-background-color);
  border-left: var(--scale-tooltip-arrow-size) solid transparent;
  border-right: var(--scale-tooltip-arrow-size) solid transparent;
}

.tooltip-positioner[data-popper-placement='top-start'] .tooltip::after {
  left: var(--scale-tooltip-arrow-start-end-offset);
}

.tooltip-positioner[data-popper-placement='top-end'] .tooltip::after {
  right: var(--scale-tooltip-arrow-start-end-offset);
  left: auto;
}

.tooltip-positioner[data-popper-placement^='left'] .tooltip::after {
  top: calc(50% - var(--scale-tooltip-arrow-size));
  left: 100%;
  border-left: var(--scale-tooltip-arrow-size) solid
    var(--scale-tooltip-background-color);
  border-top: var(--scale-tooltip-arrow-size) solid transparent;
  border-bottom: var(--scale-tooltip-arrow-size) solid transparent;
}

.tooltip-positioner[data-popper-placement='left-start'] .tooltip::after {
  top: var(--scale-tooltip-arrow-start-end-offset);
}

.tooltip-positioner[data-popper-placement='left-end'] .tooltip::after {
  top: auto;
  bottom: var(--scale-tooltip-arrow-start-end-offset);
}

.tooltip-positioner[data-popper-placement^='right'] .tooltip::after {
  top: calc(50% - var(--scale-tooltip-arrow-size));
  right: 100%;
  border-right: var(--scale-tooltip-arrow-size) solid
    var(--scale-tooltip-background-color);
  border-top: var(--scale-tooltip-arrow-size) solid transparent;
  border-bottom: var(--scale-tooltip-arrow-size) solid transparent;
}

.tooltip-positioner[data-popper-placement='right-start'] .tooltip::after {
  top: var(--scale-tooltip-arrow-start-end-offset);
}

.tooltip-positioner[data-popper-placement='right-end'] .tooltip::after {
  top: auto;
  bottom: var(--scale-tooltip-arrow-start-end-offset);
}
