
code {
  font-weight: 400;
  font-family: 'SFMono-Regular', 'Lucida Console', Monaco, monospace;
  font-size: 14px;
}

ol code,
ul code,
p code,
table code {
  font-size: 14px;
  padding: 2px 6px 3px;
  background-color: var(--color-whisper);
  color: var(--color-woodsmoke);
  border-radius: 3px;
}

h1 code,
h2 code,
h3 code {
  font-size: 0.8em;
  font-weight: bold;
}

blockquote code {
  font-size: 13px;
  background-color: var(--color-wheatfield);
}
