.text-link {
  transition: border 0.3s;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
}

.text-link--primary {
  color: var(--color-primary);
}

.text-link--primary:hover {
  border-bottom-color: var(--color-primary-hover);
}

.text-link--secondary {
  color: var(--color-manatee);
}

.text-link--secondary:hover {
  border-bottom-color: rgba(136, 136, 162, 0.2);
}

stencil-route-link:hover {
  cursor: pointer;
}
