.list--unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list--icon li {
  position: relative;
  padding-left: 28px;
}

.list--icon app-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.list--columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 42px;
}

.list--columns li {
  flex: 0 0 25%;
  line-height: 1.4;
  margin-bottom: 10px;
  padding-right: 18px;
}

@media screen and (max-width: 1024px) {
  .list--columns li {
    flex: 0 0 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .list--columns li {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 480px) {
  .list--columns li {
    flex: 0 0 100%;
  }
}

.list--numbered-badge {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
}

.list--numbered-badge li {
  display: flex;
  align-items: center;
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.list--numbered-badge li+li {
  margin-top: 36px;
}

.list--numbered-badge li::before {
  flex: 0 0 32px;
  content: counter(step-counter);
  margin-right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 15px;
  font-weight: bold;
  box-shadow: var(--card-shadow);
}
