:host {
  --border-color: var(--telekom-color-ui-border-standard);
  --border-color-disabled: var(--telekom-color-ui-border-disabled);
  --border: var(--telekom-spacing-unit-x025) solid var(--border-color);
  --border-disabled: var(--telekom-spacing-unit-x025) solid
    var(--border-color-disabled);
  --radius: var(--telekom-radius-standard);
}

.toggle-group--inline {
  display: inline-flex;
}

.toggle-group--block {
  display: flex;
}

.toggle-group--block ::slotted(*) {
  flex-grow: 1;
}
