:host {
  --border-color: var(--scl-color-grey-90);
  --border-color-disabled: var(--scl-color-background-disabled);
  --border: var(--scl-spacing-1) solid var(--border-color);
  --border-disabled: var(--scl-spacing-1) solid var(--border-color-disabled);
  --radius: var(--scl-radius-8);
}

.toggle-group--inline {
  display: inline-flex;
}

.toggle-group--block {
  display: flex;
}

.toggle-group--block ::slotted(*) {
  flex-grow: 1;
}
