/**
 * @prop --input-error-font-size: Font size of the input-error
 * @prop --input-error-font-family: Font family of the input-error
 * @prop --input-error-padding-top: Padding top of the input-error
 * @prop --input-error-color: Color of the input-error
 */

.input-error {
  font-size: var(--input-error-font-size, 0.8rem);
  font-family: var(--input-error-font-family, unset);
  padding-top: var(--input-error-padding-top, 0.5rem);
  color: var(--input-error-color, lightcoral);
}
