/**
 * @prop --input-label-font-size: Font size of the input-label
 * @prop --input-label-font-family: Font family of the input-label
 * @prop --input-label-padding-top: Padding top of the input-label
 * @prop --input-label-color: Color of the input-label
 */

.input-label {
  font-size: var(--input-label-font-size, 1rem);
  font-family: var(--input-label-font-family, unset);
  padding-bottom: var(--input-label-padding-bottom, 0.5rem);
  color: var(--input-label-color, unset);
}
