contributor-list {
  display: block;
  margin-top: 60px;
}

contributor-list h5 {
  margin: 10px 0;
}

contributor-list ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

contributor-list ul li:not(:last-child) {
  margin-left: -10px;
}

contributor-list ul li:hover {
  z-index: 5;
}

contributor-list a {
  transition: transform 50ms ease-out;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 11px;
  border: 0;
}

contributor-list a:hover {
  border: 0;
  transform: scale(1.125);
  z-index: 1;
}

contributor-list .img-wrapper {
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
}

contributor-list img {
  border: solid 2px var(--background);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 2px solid #FFF;
}
