/**
 * @prop --divider-color: Color of the divider
 
 */

.divider {
  margin: var(--divider-margin, 10px);
  padding: var(--divider-padding, 10px);
}

.divider__vertical {
  border-left: var(--divider-vertical-border-left, 7px solid blue);
  height: var(--divider-vertical-height, 500px);
  position: absolute;
  left: 50%;
  margin-left: -3px;
  /* top: 0; */
  height: 50px;
}

.divider__horizontal {
  width: var(--divider-width, 50px);
  border-color: black;
  border-width: 3px;
}
