/**
 * @prop --divider-border-top: Border top of the divider
 * @prop --divider-color: Color of the divider
 * @prop --divider-vertical-border-left: Border left of the vertical divider
 * @prop --divider-vertical-min-height: Min height of the vertical divider
 */
:host {
  width: 100%;
  height: 100%;
}
.divider hr {
  border: 0;
  border-top: var(
    --divider-border-top,
    solid 1px var(--divider-color, #dfdfdf)
  );
}

.divider__vertical {
  border-left: var(
    --divider-vertical-border-left,
    1px solid var(--divider-color, #dfdfdf)
  );
  min-height: var(--divider-vertical-min-height, 1rem);
}

.divider__vertical,
.divider--vertical {
  height: inherit;
  display: inline-flex;
}
